extends partials/layout.pug

block content
  h1 Not what you're looking for? Please try something else.
  .row
    .col-md-8.col-md-offset-2
      img(class='img-responsive' src='http://i.imgur.com/4shAQWH.png' alt='page not found')
