extends partials/layout.pug

block content
  .container
    .jumbotron.spacer
      h1 Why, Hello There...
      p Finding the who you're interested in is half the battle.  Here's who you've liked:
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img(src='http://i.imgur.com/8KEdZt9.gif' alt='elijah and Daniel')
          .caption
            .Thumbnail.label
            h3 Person's Name
            p City, State
