doctype html
html
	head
		title
		link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Muli:300,400,900")
		link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/main.css')
	body

		.main-header
			h1.text-center.main-banner CAREER CUPID
			h3.text-center.sub-header click some body - start a relationship
			.button-row
				a(type="button" href="/login").btn.btn-lg.login-btn Login
				a(type="button" href="/registration").btn.btn-lg.register-btn Register
		.info-sect
			.row
				.col-sm-8
					h2.info-heading The Man Behind Career Cupid
					h4.sub-header Dr. Michael Tambo, Founder
					p Dr. Tambo is a clinical psychologist and author of eight books on love, compatibility and emotional sophistication. During 35 years of counseling thousands of matches couples, Dr. Tambo observed a set of characteristics that seemed to be present in all successful relationships. He called them the 29 Dimensions of Compatibility. After extensive research involving thousands of matches, Dr. Tambo confirmed that these dimensions were indeed highly predictive of relationship success and could be used to match singles. Ten years later, Career Cupid's compatibility matching is responsible for nearly 4% of U.S. matches.
					h3 Dr. Tambo warns that not everyone has a match but ... you can try to force it if you want to
				.col-sm-4
					img.founder-img(src="/img/tambo_720.png")
		.info-sect
			.row
				.col-sm-7
					h4.info-heading Nearly 4% of U.S. Yente Selections Can't Be Wrong

					p Career Cupid is different than other online dating websites and services, and we believe our success speaks for itself. On average, 438 people get find matches  every day in the United States because of Career Cupid; that accounts for nearly 4% of new U.S. love.
					p At Career Cupid, we believe you deserve to find love – true love that comes with a lasting relationship. Because of this, we are committed to assisting singles everywhere in their search to find love and romantic fulfillment.
					p Our Compatibility Matching System does the work for you by narrowing the field from thousands of single prospects to match you with a select group of compatible matches with whom you can build a quality relationship.
					p 2012 U.S. survey conducted for Career Cupid by Harris Interactive online, very few will be compatible with you specifically, and it can be difficult to determine the level of compatibility of a potential partner through methods of conventional dating services – browsing classified ads, online personals, or viewing profile photos.

				.col-sm-5
					img.img-responsive(src="/img/lovefactnote.png")

		.info-sect
			.row
				.col-sm-5
					h4.info-heading Four Easy Steps To Find The Right Match
					.step
						p 1. Answer the basics to help us narrow down people who meet your personal criteria.
					.step
						p 2. Complete compatibility questions to get quality connections based on key areas of personality.
					.step
						p 3. Review the profiles of everyone who we’ve determined to be a right for you, for FREE.
					.step
						p 4. Pick a plan that fits your needs and start communicating at your own pace.
				.col-sm-7
					h4.info-heading The #1 Trusted Online Resource for Professional Yente Connection
					p Career Cupid is the first service within the online dating industry to use a scientific approach to matching highly compatible singles. Career Cupid's matching is based on using its 29 DIMENSIONS® model to match couples based on features of compatibility found in thousands of successful relationships.
					p Career Cupid is committed to helping singles find love every day, and with over 20 million registered online users, we are confident in our ability to do so. The Career Cupid Compatibility Matching System® matches single women and men based on 29 Dimensions® of Compatibility for lasting and fulfilling relationships.
					p Traditional Internet dating can be challenging for those singles looking for love that lasts. But Career Cupid is not a traditional dating site. Of all the single men or women you may meet online, very few will be compatible with you specifically, and it can be difficult to determine the level of compatibility of a potential partner through methods of conventional dating services – browsing classified ads, online personals, or viewing profile photos. Our Compatibility Matching System does the work for you by narrowing the field from thousands of single prospects to match you with a select group of compatible matches with whom you can build a quality relationship.


		script(src='/lib/jquery/dist/jquery.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.js')
		script(src='/js/frontend.js')
