extends partials/layout.pug

block content
	h1.text-center Splash
	img.center-block.img-responsive(src="https://img.clipartfest.com/fa3fa1247e70b49f0f5979270f868b78_color-splash-green-colors-and-water-splash-texture-sheet-clipart_6000-3736.jpeg" style="width: 500px;")
	
