body {
  padding-top: 100px;
}

.user-profile {
  margin-top: 20px;
  padding: 3%;
  height: 100%;
  width: 33%;
  float: left;
  display: flex;
  flex-flow: column;
  background: linear-gradient(lightgrey, darkgrey);
}

.user-profile__single {
  margin-top: 20px;
  background: linear-gradient(lightgrey, darkgrey);
}

.user-img {
  width: 100%;
  border: 5px solid lightgrey;

}

.profile-feed {
  margin-top: 20px;
  height: 100%;
  width: 66%;
  padding: 0 5%;
  float: right;

}

.card {
  background-color: lightgrey;
  padding: 1%;
  margin: 1% 0;
  display: flex;
  flex-flow: wrap;
}

.card-img-sect {
  margin: 2%;

}

.card-img {
  height: 100px;
  border: 5px solid darkgrey;
  float: left;
  flex-grow: 1;
}

.card-info-sect {
  margin: 2%;
}

.icon-heart,
.icon-like {
  height: 50px;
  float: right;
}
